


/*Colors*/
$primary-color: #f28d20 !default; 
$secondary-color: #e96c19 !default;
$tertiary: #e96c18;
$black: #000;
$d-blue: #2b2935 !default;
$pink: #e6226e;   
$white: #fff;     


$lgray: #F9F9F9;
$dark-gray: #ccc;    
$white: white;
$transparent: transparent;
$dark-blue: #2b2935;


   


/*Fonts*/
$work-sans: 'work sans', sans-serif;
$elight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

